.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
}


.notLoggedIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.notLoggedIn h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loadingText {
  font-size: 28px;
  color: #007bff;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@media (max-width: 768px) {
  .loadingText {
    font-size: 24px;
  }
}

.mainPageLink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .notLoggedIn h1 {
    font-size: 20px;
  }
}

.mainButton {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.mainButton:hover {
  background-color: #2980b9;
}

.domainLink {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #2775FF;
  transition: color 0.3s ease-in-out; 

}

.underlinedLink {
  text-decoration: underline;
  /* 다른 스타일도 추가 가능 */
}

.domainLink:hover {
  color: #1952C0; 
}

.domainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.domainLabel {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.domainLink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.domainLink:hover {
  border-bottom: 2px solid #007bff;
}

@media (max-width: 768px) {
  .domainSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .domainLabel {
    margin-bottom: 5px;
  }
}






.blinkingBar {
  margin-left: 4px; /* 바와 텍스트 사이의 간격 조절 */
  animation: blink-animation 0.8s infinite; /* 깜박임 애니메이션 설정 */
}




@keyframes blink-animation {
  50% {
    opacity: 0; /* 50%의 시간 동안 바를 보이지 않도록 함 */
  }
}


@media (max-width: 768px) {
  .logo {
    max-width: 200px;
  }

  .mainButton {
    font-size: 16px;
  }
}

