.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.mainButton {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.mainButton:hover {
  background-color: #2980b9;
}

.domainLink {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #2775FF;
  transition: color 0.3s ease-in-out; 

}

.underlinedLink {
  text-decoration: underline;
  /* 다른 스타일도 추가 가능 */
}

.domainLink:hover {
  color: #1952C0; 
}

.blinkingBar {
  margin-left: 4px; /* 바와 텍스트 사이의 간격 조절 */
  animation: blink-animation 0.8s infinite; /* 깜박임 애니메이션 설정 */
}

.domainText {
  margin-top: 8px; /* 도메인 텍스트와의 간격 조절 */
  font-size: 18px; /* 원하는 폰트 크기로 조절 */
  color: #555; /* 원하는 색상으로 조절 */
  display : block
}

@keyframes blink-animation {
  50% {
    opacity: 0; /* 50%의 시간 동안 바를 보이지 않도록 함 */
  }
}


@media (max-width: 768px) {
  .logo {
    max-width: 200px;
  }

  .mainButton {
    font-size: 16px;
  }
}

